<header>
    <nav class="nav">
      <div class="logo"></div>
      <i class="fa-solid fa-bars menu-nav-hamburguer"></i>
      <ul class="menu-nav">
        <li><a class="#">Premium</a></li>
        <li><a class="#">Ayuda</a></li>
        <li><a class="#">Descargar</a></li>
        <li><span>|</span></li>
        <li><a class="#">Registrarse</a></li>
        <li><a class="#">Iniciar sesión</a></li>
      </ul>
    </nav>

    <hero class="hero">
      <h1>Prueba Premium gratis 3 meses</h1>
      <p class="p1">
        Escucha millones de canciones sin anuncios, a la carta y sin conexión.
      </p>
      <button class="buttom">Ver planes</button>
      <p class="p2">
        Rigen términos y condiciones. Los tres meses gratis no están
        disponibles para usuarios que ya hayan probado Premium.
      </p>
    </hero>
  </header>