<header class="header">
  <img class="header__logo" src="/assets/images/logo.png" alt="Logo Spotify" />

  <nav>
    <i class="fa-solid fa-bars header__hamburguer"></i>

    <ul class="header__menu">
      <li class="header__menu__link"><a class="#">Premium</a></li>

      <li class="header__menu__link"><a>Ayuda</a></li>

      <li class="header__menu__link"><a>Descargar</a></li>

      <li class="header__menu__link"><span>|</span></li>

      <li class="header__menu__link"><a>Registrarse</a></li>

      <li class="header__menu__link"><a>Iniciar sesión</a></li>
    </ul>
  </nav>
</header>
